<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Portfolio{% endblock %}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>

    <!-- NAVBAR (GLOBAL) -->
<nav class="nav">
    <div class="nav-brand">
        <a href="{% url 'home' %}">Portfolio</a>
    </div>

    <div class="nav-links">
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'about' %}">About</a>
        <a href="{% url 'skills' %}">Skills</a>
        <a href="{% url 'project_list' %}">Projects</a>
        <a href="{% url 'experience' %}">Experience</a>
        <a href="{% url 'education' %}">Education</a>
        <a href="{% url 'connect' %}">Connect</a>
    </div>
</nav>



    <hr>

    <!-- MAIN CONTENT -->
    <main class="container">
        {% block content %}
        {% endblock %}
    </main>

    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>
