<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Portfolio{% endblock %}</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>

    <!-- NAVBAR (GLOBAL) -->
<nav class="nav">
    <div class="nav-brand">
        <a href="{% url 'home' %}#hero">Portfolio</a>
    </div>

    <div class="nav-links">
        <a href="{% url 'home' %}#hero">Home</a>
        <a href="{% url 'about' %}">About</a>
        <a href="{% url 'skills' %}#skills">Skills</a>
        <a href="{% url 'project_list' %}#projects">Projects</a>
        <a href="{% url 'home' %}#experience">Experience</a>
        <a href="{% url 'home' %}#education">Education</a>
        <a href="{% url 'home' %}#connect">Connect</a>
    </div>
</nav>



    <hr>

    <!-- MAIN CONTENT -->
    <main class="container">
        {% block content %}
        {% endblock %}
    </main>

    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>
