<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
</head>
<body>
    <h1>Projects</h1>

    {% for project in projects %}

    <div>
        <h2><a href="{% url 'project_detail' project.slug %}">
            {{ project.title }}
        </a></h2>
        <p>{{  project.short_description }}</p>
        <p><strong>Tech:</strong> {{ project.tech_stack }}</p>
        <a href = "{{ project.github_url }}">Github</a>

        {% if project.live_url %}
            <a href = "{{ project.live_url }}">Live</a>
        {% endif %}

    </div>
    <hr>

    {% empty %}
        <p>No projects added yet.</p>

    {% endfor %}

</body>
</html>